### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
sdist/
var/
wheels/
MANIFEST

# Unit test / coverage reports
.tox/
.coverage
.pytest_cache/

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# SageMath parsed files
*.sage.py

# Environments
.venv

# mypy
.mypy_cache/
